@model List<BucStop.Models.Game>
<!-- This is the games list page. Each of the games is loaded in from the model using the game's ID value -->
<h1>List of Games</h1>

<div class="row gy-4" style="margin-left: 20px; margin-right: 20px;">
    <!-- Goes through the list of games held in the Game model and lists the pertinent information.-->
    @foreach (var game in Model)
    {
        <div class="col-sm-3 d-flex">
            <div class="card">
                <a href="@Url.Action("Play", "Games", new { id = game.Id })" style="text-decoration: none;">
                    <img src="@game.Thumbnail" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">@game.Title</h5>
                        <p class="card-text"><small class="text-muted">@game.Description</small></p>
                        <p class="text-muted">Play Count: @game.PlayCount</p>
                    </div>
                </a>
            </div>
        </div>
    }
</div>